# Common
* text eol=lf

# Windows Scripts
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Java Compiled Files
*.class binary
*.ear binary
*.jar binary
*.war binary

# C/C++ Compiled Object
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# C/C++ Precompiled Headers
*.gch   binary
*.pch   binary

# C/C++ Compiled Dynamic Libraries
*.so    binary
*.dylib binary
*.dll   binary

# C/C++ Compiled Static Libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe             binary
*.pyc             binary
*.out   binary
*.app   binary

# Archives
*.7z binary
*.gz binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary

# Graphics
*.ai              binary
*.bmp             binary
*.eps             binary
*.gif             binary
*.gifv            binary
*.ico             binary
*.jng             binary
*.jp2             binary
*.jpg             binary
*.jpeg            binary
*.jpx             binary
*.jxr             binary
*.pdf             binary
*.png             binary
*.psb             binary
*.psd             binary
*.svgz            binary
*.tif             binary
*.tiff            binary
*.wbmp            binary
*.webp            binary

# Audio
*.kar             binary
*.m4a             binary
*.mid             binary
*.midi            binary
*.mp3             binary
*.ogg             binary
*.ra              binary

# Video
*.3gpp            binary
*.3gp             binary
*.as              binary
*.asf             binary
*.asx             binary
*.fla             binary
*.flv             binary
*.m4v             binary
*.mng             binary
*.mov             binary
*.mp4             binary
*.mpeg            binary
*.mpg             binary
*.ogv             binary
*.swc             binary
*.swf             binary
*.webm            binary

# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary
